

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	background:#995599;
}
li{
	background:999999;
}
#link_to_cleveland{
	float:right;
}
















